/* Reset CSS Start*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: #fff;
  --main-color: #00ffee;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

span {
  color: var(--main-color);
}

section {
  min-height: 100vh;
  padding: 10rem 12% 10rem;
}
/* Reset CSS Start*/

/* Header Start*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  padding: 4rem 12% 4rem;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.logo span {
  text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a:active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none;
}
/* Header End */

/* Home Start */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  text-align: left;
  margin-top: 3rem;
}

.home-content h1 {
  font-size: 6rem;
  margin-top: 1.5rem;
  line-height: 1;
  user-select: none;
}

.home-content h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
  font-size: 3.5rem;
  user-select: none;
}

.home-img img {
  width: 26vw;
  position: relative;
  top: 3rem;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  cursor: pointer;
}

.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
}

.home-content p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
  max-width: 1000px;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background-color: transparent;
  border: 2px solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 300ms ease-in-out;
}

.social-icons a:hover {
  color: brown;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: black;
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--main-color);
}

.btn-group a:nth-of-type(2) {
  margin-left: 1rem;
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}

.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.text-animation span {
  position: relative;
}

.text-animation span::before {
  content: "";
  color: var(--main-color);
  animation: words 20s infinite;
}

.text-animation span::after {
  content: "";
  background-color: var(--bg-color);
  height: 100%;
  width: calc(100% + 8px);
  position: absolute;
  right: -8px;
  border-left: 2px solid var(--bg-color);
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 1px solid var(--main-color);
  }
}

@keyframes words {
  0%,
  20% {
    content: "Back-end Developer'覺m";
  }
  21%,
  40% {
    content: "Front-end Developer'覺m";
  }
  41%,
  60% {
    content: "Software Developer'覺m";
  }
  61%,
  80% {
    content: "Full Stack Developer'覺m";
  }
  81%,
  100% {
    content: "Computer Programmer";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }

  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
/* Home End */

/* Education Start */
.heading {
  font-size: 8rem;
  text-align: center;
  margin-bottom: 5rem;
}

.education {
  background-color: var(--second-bg-color);
  padding: 100px 15px;
}

.timeline-items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  left: calc(50%);
}

.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
  margin-right: calc(50% + 30px);
}

.timeline-item:nth-child(even) {
  margin-left: calc(50% + 30px);
}

.timeline-dot {
  height: 21px;
  width: 21px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 10px;
}

#timeline-dot1 {
  left: calc(100% + 22px);
}

#timeline-dot2 {
  right: calc(100% + 16px);
}

#timeline-dot3 {
  left: calc(100% + 22px);
}

.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: var(--text-color);
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: var(--bg-color);
  border: 3px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 4rem;
  cursor: pointer;
}

.timeline-content:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.timeline-content h3 {
  font-size: 25px;
  color: #fff;
  font-weight: 800;
  margin: 0 0 10px;
}

.timeline-content p {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(15, 190, 190);
  border-radius: 4rem;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  width: 50px;
}
/* Education End */

/* Services Start */

.services {
  background-color: var(--bg-color);
  color: black;
}

.services h2 {
  color: #fff;
  margin-bottom: 5rem;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.services-box {
  background-color: var(--main-color);
  height: 300px;
  border-radius: 3rem;
  border: 5px solid transparent;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.services-box:hover {
  background-color: #fff;
  color: black;
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}

.services-box .service-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-height: 200px;
  justify-content: left;
  align-items: baseline;
  padding: 5rem 5rem;
}

.service-info h4 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 2;
}

.service-info p {
  font-size: 1.6rem;
  font-weight: 600;
  max-height: 100px;
  line-height: 1.5;
  margin: auto;
}
/* Services End */

/* Contact Start */
.contact {
  background-color: var(--bg-color);
}

.contact form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 5rem auto;
  text-align: center;
}

.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -6rem;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--second-bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 3rem;
  resize: none;
}
/* Alert */

.alert{
  background: #ffdb9b;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 4px;
  border-left: 8px solid #ffa502;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  margin-top: 10rem;
}
.alert.showAlert{
  opacity: 1;
  pointer-events: auto;
}
.alert.show{
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(-10%);
  }
  80%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-10px);
  }
}
.alert.hide{
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0%{
    transform: translateX(-10px);
  }
  40%{
    transform: translateX(0%);
  }
  80%{
    transform: translateX(-10%);
  }
  100%{
    transform: translateX(100%);
  }
}
.alert .fa-exclamation-circle{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ce8500;
  font-size: 30px;
}
.alert .msg{
  padding: 0 20px;
  font-size: 18px;
  color: #ce8500;
}
.alert .close-btn{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #ffd080;
  padding: 20px 18px;
  cursor: pointer;
}
.alert .close-btn:hover{
  background: #ffc766;
}
.alert .close-btn .fas{
  color: #ce8500;
  font-size: 22px;
  line-height: 40px;
}

/* Contact End */

/* Footer Start */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--second-bg-color);
}

footer .social-icons {
  text-align: center;
  padding-bottom: 25px;
  color: var(--main-color);
}

footer .social-icons a {
  font-size: 25px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease-in-out;
}

footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

footer a {
  color: var(--text-color);
  border-bottom: 3px solid transparent;
  transition: 0.1s ease-in-out;
}

footer a:hover {
  color: var(--main-color);
}

footer li {
  display: inline-block;
  padding: 0 15px;
}

footer .copyright {
  text-align: center;
  margin-top: 50px;
  color: var(--text-color);
  font-size: 16px;
}
/* Footer End */

/* Media Queries Start */
@media (max-width: 1480) {
}

@media (max-width: 1285px) {
  html {
    font-size: 55%;
  }

  .services-container {
    padding-bottom: 7rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5rem;
  }

  .services h2 {
    margin-top: 10rem;
  }

  .service-info h4 {
    font-size: 2rem;
  }

  .home-content h3 {
    font-size: 2.8rem;
  }

  .home .home-content h1 {
    font-size: 3.8rem;
  }

  .contact h2 {
    margin-top: 8rem;
  }

  section {
    padding: 0 5%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .services-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem 3%;
  }

  section {
    padding: 10% 7% 10% 5%;
  }

  .home-img {
    padding-bottom: 10rem;
  }

  .home-img img {
    width: 30vw;
  }

  .services {
    padding-bottom: 7rem;
  }
  .contact form {
    flex-direction: column;
  }

  footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 895px) {
  #menu-icon {
    display: block;
    cursor: pointer;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3%;
    background-color: rgba(0, 0, 0, 8);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }

  .navbar.active {
    display: block;
  }

  .home {
    flex-direction: column-reverse;
    margin-bottom: 4rem;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 8rem;
    margin-top: 3rem;
  }

  .home-content p {
    max-width: 600px;
  }

  .home-img img {
    margin: 3rem auto -8rem auto;
    width: 50vw;
  }

  .services-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .service-info h4 {
    font-size: 2rem;
  }

  .service-info p {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .services h2 {
    margin-bottom: 3rem;
  }

  .timeline-items::before {
    left: 7px;
  }

  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    margin: 0;
  }

  .timeline-dot {
    left: 0 !important;
    right: 0 !important;
  }

  .timeline-content {
    width: 90%;
    padding: 20px;
    margin-left: 37px;
  }

  .timeline-date {
    margin-left: 30px;
  }

  .input-group2 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .header a {
    font-size: 2.2rem;
  }

  .home-img img {
    width: 60vw;
  }

  .home {
    gap: 10rem;
    width: 100%;
    margin-bottom: 3rem;
    margin-top: 4rem;
  }

  .home-content h1 {
    font-size: 5rem;
    margin-bottom: 5rem;
  }

  .home-content h3 {
    font-size: 3.5rem;
  }

  .text-animation span {
    display: block;
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
  }

  .text-animation span::after {
    content: "";
    background-color: var(--bg-color);
    width: calc(100% + 8px);
    height: 100%;
    position: absolute;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
  }

  .home-content p {
    font-size: 2rem;
  }

  .home-content .social-icons,
  .btn-group {
    margin: 0 auto;
  }

  .home-content .social-icons a {
    width: 5rem;
    height: 5rem;
  }

  .education {
    width: 100%;
  }

  .education h2 {
    font-size: 6rem;
  }

  h2.heading {
    font-size: 4.5rem !important;
  }

  .services-container {
    margin: 0;
  }

  .service-info {
    padding: 0rem 2rem;
  }

  .service-info h4 {
    line-height: 1;
    margin-bottom: 14px;
  }

  .service-info p {
    font-size: 1.7rem;
    line-height: 1;
  }

  textarea {
    max-width: 90%;
    box-sizing: border-box;
    resize: vertical;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar a {
    font-size: 1.5rem;
  }

  .home-content h1 {
    font-size: 4rem;
  }

  .home-content p {
    font-size: 1.8rem;
    margin: 0;
  }

  .home-content h3 {
    font-size: 2.9rem;
  }
}

@media (max-width: 460px) {
  .service-info h4 {
    font-size: 2rem;
  }

  .service-info p {
    font-size: 1.6rem;
  }

  .education h3 {
    font-size: 2rem;
  }

  .education p {
    font-size: 1.5rem;
    font-weight: 300;
  }
}

/* Media Queries End */
